/* StyleSheet */ 

/* SMARTPHONE LANDSCAPE*/
@media (min-width: 576px){
    body{
        background-color: #0ff;
    }
}

/* TABLET PORTRAIT*/ 
@media (min-width: 768px){
    body{
        background-color: #ff0;
    }
}

/* Tablet LANDSCAPE */ 
@media (min-width: 992px){
    body{
        background-color: #ff6600;
    }
}

/* PC LANDSCAPE */ 
@media (min-width: 992px){
    body{
        background-color: #ff0000;
    }
}